.login-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-notice {
}

.signup-notice__click-text {
  color: blue;
  cursor: pointer;
}

.login-form {
  padding: 10px;
  margin: 10px;
  max-width: 500px;
}
